NUXT_PUBLIC_APP_NAME=
NUXT_PUBLIC_API_URL=
NUXT_PUBLIC_BASE_URL=
NUXT_PUBLIC_SITE_URL=
NUXT_PUBLIC_SERVER_URL=
NUXT_PUBLIC_API_PREFIX=

NUXT_PUBLIC_CAPTCHA_SITEKEY=
NUXT_PUBLIC_CAPTCHA_SECRET=
NUXT_PUBLIC_CAPTCHA_URL=

NUXT_PUBLIC_KEYCLOAK_REMOTE_HOST=
NUXT_PUBLIC_KEYCLOAK_REALM=
NUXT_PUBLIC_KEYCLOAK_CLIENT_ID=
NUXT_PUBLIC_KEYCLOAK_CHANGE_EMAIL=
NUXT_PUBLIC_KEYCLOAK_CHANGE_PASSWORD=
